astroid==2.3.3
certifi==2023.7.22
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
colorama==0.4.1
decorator==4.4.1
dnspython==1.16.0
future==0.18.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
OTXv2==1.5.6
pylint==2.4.4
python-dateutil==2.8.1
python-whois==0.7.2
pytz==2019.3
requests==2.22.0
shodan==1.20.0
six==1.13.0
urllib3==1.26.5
validators==0.14.0
wrapt==1.11.2
XlsxWriter==1.2.6
